
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #AEE6F5;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #fff24d; 
    color: #fff24d;
    padding: 99px 20px ;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1658418171785-6effc7240676?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center; 
    background-size: cover;
}

.header-content {
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 90%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7); 
    border-radius: 10px;
}

header h1 {
    font-size: 3rem;
    color: #fff24d;
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
.service-details {
    padding: 40px;
    background-color: #ffffff ;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.service-details h2 {
    color: black;
}
.back-btn {
    display: block;
    margin-top: 20px;
    background-color: #fff24d;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.back-btn:hover {
    background-color: #ffec3d;
}
.language-switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff24d;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
    z-index: 999;
}

.language-switch:hover {
    background-color: #ffe600;
}
